* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header,
.main,
.aside,
.article,
.footer {
    border: 5px solid black;
    padding: 8px;
}

body {
    font-family: 'Roboto', sans-serif;
    width: 100vw;
    height: 100vh;
    background-color: #b0b089;
    
    display: grid;
    grid-template-rows: 1fr 4fr 1fr;
    grid-template-columns: 1fr 4fr;
    grid-template-areas:
    "nav head head head"
    "nav  main main main"
    "foot foot foot foot";
}

.header {
    grid-area: head;
    background-color: #439A86;
}

.main {
    grid-area: main;
    background-color: #BCD8C1;
}

.aside {
    grid-area: nav;
    background-color: #007991;
}

.footer {
    grid-area: foot;
    background-color: #222E50;

    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.1em;
    color: #e1e1e1;

    display: flex;
    align-items: center;
    justify-content: center;
}

.footer p {
    cursor: default;
}