* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header,
.main,
.aside,
.article,
.footer {
    border: 5px solid black;
    padding: 8px;
}

body {
    font-family: 'Roboto', sans-serif;
    width: 100vw;
    height: 100vh;
    background-color: #b0b089;
    
    display: grid;
    grid-template-rows: 1fr 4fr 1fr;
    grid-template-columns: 1fr 4fr;
    grid-template-areas:
    "nav head head head"
    "nav  main main main"
    "foot foot foot foot";
}

@media(max-width: 500px) {
    body {
        grid-template-columns: 1fr;
        grid-template-areas:
            "head head head"
            "main main main"
            "foot foot foot";
    }

    .header {
        border-left: none;
    }

    .main {
        border-left: none
    }

    .aside {
        display: none;
    }
}

.header {
    grid-area: head;
    background-color: #439A86;
    border-top: none;
    border-right: none;
    font-size: 1.7rem;

    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem;
    word-wrap: break-word;
}

.header span {
    font-size: 12px;
    font-weight: bold;
}

.main {
    grid-area: main;
    background-color: #BCD8C1;
    border-right: 0;

    display: flex;
    gap: 12px;
}

article {
    padding: 16px;
    border: 10px solid black;
    background-color: #95b2b8;
    flex: 1;

    font-size: 18px;
}

.aside {
    border-top: none;
    border-left: none;
    grid-area: nav;
    background-color: #007991;
}

.footer {
    grid-area: foot;
    background-color: #222E50;
    border-bottom: none;
    border-right: none;
    border-left: none;

    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.1em;
    color: #e1e1e1;

    display: flex;
    align-items: center;
    justify-content: center;
}

.footer p {
    cursor: default;
}